@let set = setSignal();

<app-cabecera-set [set]="set"></app-cabecera-set>


@if (set) {
<div class="filters">
	<mat-form-field appearance="outline" class="search-field">
		<mat-label>Buscar</mat-label>
		<input matInput placeholder="Nombre, tipo o rareza…" [ngModel]="searchTerm()"
			(ngModelChange)="searchTerm.set($event)" />
		@if (searchTerm()) {
		<button mat-icon-button matSuffix aria-label="Clear" (click)="searchTerm.set('')">
			<mat-icon>close</mat-icon>
		</button>
		}
	</mat-form-field>

	<mat-form-field appearance="outline" class="rareza-field">
		<mat-label>Rareza</mat-label>
		<mat-select [value]="rareza()" (valueChange)="rareza.set($event)">
			<mat-option value="todas">Todas</mat-option>
			<mat-option value="common">Common</mat-option>
			<mat-option value="uncommon">Uncommon</mat-option>
			<mat-option value="rare">Rare</mat-option>
			<mat-option value="mythic">Mythic</mat-option>
		</mat-select>
	</mat-form-field>

	<button mat-flat-button color="primary" (click)="Catalogo()">
		<mat-icon>add</mat-icon>
		Importar desde catalogo
	</button>

	<button mat-flat-button color="primary" [routerLink]="['/pages/set', idSet, 'carta','nueva']">
		<mat-icon>add</mat-icon>
		Nueva
	</button>
</div>
}

@if (loading()) {
<div class="loading">
	<mat-spinner diameter="40"></mat-spinner>
</div>
}

@if (!loading() && filteredCartas().length) {
<section class="grid">
	@for (c of filteredCartas(); track c.idCarta) {
	<a class="card" [title]="c.nombre" [ngClass]="c.rareza.toLowerCase()"
		[routerLink]="['/pages/set', idSet, 'carta', c.idCarta]">
		<mat-card class="mat-card-compact">
			<div class="thumb">
				<img [src]="c.imagenUrl" [alt]="c.nombre" loading="lazy" />
			</div>
		</mat-card>
	</a>
	}
</section>
} @else {
@if (!loading()) {
<div class="empty">El Set no tiene cartas.</div>
}
}